Cleaning Data in Python

The "Restaurant" Data includes five columns: 
    - name: the restaurants' name
    - addr: the restaurants' address
    - city: city, where the restaurant's are located
    - phone: the restaurant's telephone numbers
    - type: the restaurants' cuisine type, including american, italian, asian, mexican, southern, southernwest, coffeebar, steakhouses, cajun

The "cuisine_type" column contains so many categories that a manual replacement is not possible. 

Using the string similarity from thefuzz package to replace the strings in "cuisine_type" column.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read "restaurants" csv file into DataFrame
restaurants = pd.read_csv(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Mein Dokument\Lernmaterial\Data Science\DataCamp_Data Scientist in Python track\Cleaning Data in Python\restaurants_cuisine_type_change.csv", index_col=0)
# Show the info of the "restaurants" DataFrame
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 336 entries, 0 to 335
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    336 non-null    object
 1   addr    336 non-null    object
 2   city    336 non-null    object
 3   phone   336 non-null    int64
 4   type    336 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.8+ KB

In [16]:
# Rename column "type" to "cuisine_type"
restaurants.rename(columns={"type":"cuisine_type"}, inplace=True)

In [10]:
# Count values of each "cuisine_type" category
restaurants["cuisine_type"].value_counts()

cuisine_type
american        126
italian          71
asian            63
coffeebar        22
southern          8
mexican           8
steakhouses       5
ameerican         2
asianne           2
assiian           2
amerian           1
aasian            1
mexxican          1
coffeebarr        1
americcan         1
coffeeebar        1
aamerican         1
americann         1
italianne         1
italianin         1
aammerican        1
cajun             1
southwestern      1
asiaan            1
ammerican         1
amnerican         1
italitian         1
italiano          1
coffeebara        1
italiien          1
itallien          1
amnrican          1
amenrican         1
assian            1
italien           1
asien             1
asiaane           1
Name: count, dtype: int64

In [19]:
from thefuzz import fuzz
from thefuzz import process

# Create the list of the cuisine types, which the "cuisine_type" column should contains
cuisines = ["american", "italian", "asian", "mexican", "coffeebar"]

# Find the similarity scores and the similarity cutoff point when remapping categories
cuisine_series = restaurants["cuisine_type"].unique()
american_matches = process.extract("american", cuisine_series, limit=len(cuisine_series))
print(american_matches)
italian_matches = process.extract("italian", cuisine_series, limit=len(cuisine_series))
print(italian_matches)
asian_matches = process.extract("asian", cuisine_series, limit=len(cuisine_series))
print(asian_matches)
mexican_matches = process.extract("mexican", cuisine_series, limit=len(cuisine_series))
print(mexican_matches)
coffeebar_matches = process.extract("coffeebar", cuisine_series, limit=len(cuisine_series))
print(coffeebar_matches)

[('mexican', 80), ('cajun', 68), ('asian', 62), ('italian', 53), ('southwestern', 49), ('southern', 38), ('coffeebar', 24), ('steakhouses', 21)]
[('italian', 100), ('asian', 67), ('mexican', 43), ('cajun', 33), ('southwestern', 33), ('steakhouses', 33), ('southern', 27), ('coffeebar', 12)]
[('asian', 100), ('italian', 67), ('mexican', 50), ('steakhouses', 40), ('cajun', 40), ('southwestern', 36), ('southern', 31), ('coffeebar', 26)]
[('mexican', 100), ('asian', 50), ('cajun', 50), ('italian', 43), ('southwestern', 36), ('steakhouses', 33), ('southern', 27), ('coffeebar', 25)]
[('coffeebar', 100), ('southwestern', 38), ('southern', 35), ('cajun', 30), ('asian', 26), ('mexican', 25), ('steakhouses', 20), ('italian', 12)]

In [20]:
# Replace strings in "cuisine_type" column using for loop
for cuisine in cuisines:
    matches = process.extract(cuisine, restaurants["cuisine_type"], limit=len(restaurants["cuisine_type"]))
    for match in matches: 
        if match[1] >= 80:
            restaurants.loc[restaurants["cuisine_type"] == match[0]] = cuisine

In [21]:
# Count the values of each category in "cuisine_type"
restaurants["cuisine_type"].value_counts()

cuisine_type
mexican         146
italian          78
asian            72
coffeebar        25
southern          8
steakhouses       5
southwestern      1
cajun             1
Name: count, dtype: int64