In [ ]:
import pandas as pd
xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Alle Sushi Corner_14.08-19.11.xlsx")
names= xls.sheet_names
listings=[]
for name in names:
    listing= pd.read_excel(xls, sheet_name= name, na_values= 'n/a', skiprows=1)
    listing.drop(listing.tail(6).index, inplace= True)
#delete the second column
    listing.drop(columns= listing.columns[1], inplace= True)
    listing['Datum']= pd.to_datetime(name)
#drop filiale 'Sion' out to the list
    listing = listing[listing['Filiale (KST)']!= 'Sion']
    listings.append(listing)
listing_data= pd.concat(listings)
listing_data.info()

In [ ]:
basel_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Basel_14.08-19.11.xlsx")
basel_names= basel_xls.sheet_names
basel_listings=[]
for basel_name in basel_names:
#read sheet in basel_xls and skip the first row
    basel_listing= pd.read_excel(basel_xls, sheet_name= basel_name, na_values= 'n/a', skiprows= 1)
#delete the last 6 rows 
    basel_listing.drop(basel_listing.tail(6).index, inplace= True)
#add column 'Datum' with value is datetime of sheet name
    basel_listing['Datum']= pd.to_datetime(basel_name)
#add column 'Filiale (KST)' with value 'Gastro Basel'
    basel_listing['Filiale (KST)']= 'Gastro Basel'
#move 'Filiale (KST)' column to the first position
    basel_listing.insert(0,'Filiale (KST)', basel_listing.pop('Filiale (KST)'))
    basel_listings.append(basel_listing)
basel_listing_data= pd.concat(basel_listings)
basel_listing_data.info()

In [ ]:
lugano_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Lugano_14.08-19.11.xlsx")
lugano_names= lugano_xls.sheet_names
lugano_listings= []
for lugano_name in lugano_names:
    lugano_listing= pd.read_excel(lugano_xls, sheet_name= lugano_name, na_values= 'n/a', skiprows= 1)
    lugano_listing.drop(lugano_listing.tail(6).index, inplace = True)
    lugano_listing['Filiale (KST)'] = 'Gastro Lugano'
    lugano_listing.insert(0, 'Filiale (KST)', lugano_listing.pop('Filiale (KST)'))
    lugano_listing['Datum']= pd.to_datetime(lugano_name)
    lugano_listings.append(lugano_listing)
lugano_listing_data= pd.concat(lugano_listings)
lugano_listing_data.info()

In [ ]:
import matplotlib.pyplot as plt
ax= lugano_listing_data.groupby('Datum')['Abv. Umsatz exkl. MWSt Fr.'].sum().plot(marker='o')
ax.set_title('Sales by Date')

In [ ]:
sanantonino_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\San Antonino_21.08-19.11.xlsx")
sanantonino_names= sanantonino_xls.sheet_names
sanantonino_listings= []
for sanantonino_name in sanantonino_names:
    sanantonino_listing= pd.read_excel(sanantonino_xls, sheet_name= sanantonino_name, na_values= 'n/a', skiprows= 1)
    sanantonino_listing.drop(sanantonino_listing.tail(6).index, inplace = True)
    sanantonino_listing['Filiale (KST)'] = 'MR San Antonino'
    sanantonino_listing.insert(0, 'Filiale (KST)', sanantonino_listing.pop('Filiale (KST)'))
    sanantonino_listing['Datum']= pd.to_datetime(sanantonino_name)
    sanantonino_listings.append(sanantonino_listing)
sanantonino_listing_data= pd.concat(sanantonino_listings)
sanantonino_listing_data.info()

In [ ]:
consign_bany_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Consignation_Balexert_Nyon_14.08-19.11.xlsx")
consign_bany_names= consign_bany_xls.sheet_names
consign_bany_listings=[]
for consign_bany_name in consign_bany_names:
    consign_bany_listing= pd.read_excel(consign_bany_xls, sheet_name= consign_bany_name, na_values= 'n/a', skiprows= 1)
    consign_bany_listing.drop(consign_bany_listing.tail(6).index, inplace= True)
    consign_bany_listing.drop(consign_bany_listing.columns[1], axis= 1, inplace= True)
    consign_bany_listing= consign_bany_listing.replace(['Balexert', 'Nyon La Combe'], ['Consignation Balexert','Consignation Nyon La Combe'])
    consign_bany_listing['Datum']= pd.to_datetime(consign_bany_name)
    consign_bany_listings.append(consign_bany_listing)
consign_bany_listing_data= pd.concat(consign_bany_listings)
consign_bany_listing_data.info()
consign_bany_listing_data.to_excel(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\To_excel\Consign_bany.xlsx", index= False)

In [ ]:
consign_neu_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Consignation_Neuwiesen_Neumarkt_14.08-19.11.xlsx")
consign_neu_names= consign_neu_xls.sheet_names
consign_neu_listings=[]
for consign_neu_name in consign_neu_names:
    consign_neu_listing= pd.read_excel(consign_neu_xls, sheet_name= consign_neu_name, na_values= 'n/a', skiprows= 1)
    consign_neu_listing.drop(consign_neu_listing.tail(6).index, inplace= True)
    consign_neu_listing.drop(consign_neu_listing.columns[1], axis= 1, inplace= True)
    consign_neu_listing= consign_neu_listing.replace(['MMM Neuwiesen', 'MMM Neumarkt'], ['Consignation MMM Neuwiesen', 'Consignation MMM Neumarkt'])
    consign_neu_listing['Datum']= pd.to_datetime(consign_neu_name)
    consign_neu_listings.append(consign_neu_listing)
consign_neu_listing_data= pd.concat(consign_neu_listings)
consign_neu_listing_data.info()

In [ ]:
sion_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Sion_14.08-04.11.xlsx")
sion_names= sion_xls.sheet_names
sion_listings=[]
for sion_name in sion_names:
    sion_listing= pd.read_excel(sion_xls, sheet_name= sion_name, na_values= 'n/a', skiprows= 1)
    sion_listing.drop(sion_listing.tail(6).index, inplace= True)
    sion_listing.drop(sion_listing.columns[1], axis= 1, inplace= True)
    sion_listing['Datum']= pd.to_datetime(sion_name)
    sion_listings.append(sion_listing)
sion_listing_data= pd.concat(sion_listings)
sion_listing_data.info()

In [ ]:
tagmaa_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\TA GMAA_14.08-19.11.xlsx")
tagmaa_names= tagmaa_xls.sheet_names
tagmaa_listings=[]
for tagmaa_name in tagmaa_names:
    tagmaa_listing= pd.read_excel(tagmaa_xls, sheet_name= tagmaa_name, na_values= 'n/a', skiprows= 1)
    tagmaa_listing.drop(tagmaa_listing.tail(6).index, inplace= True)
    tagmaa_listing.drop(tagmaa_listing.columns[1], axis= 1, inplace= True)
    tagmaa_listing['Datum']= pd.to_datetime(tagmaa_name)
    tagmaa_listings.append(tagmaa_listing)
tagmaa_listing_data= pd.concat(tagmaa_listings)
tagmaa_listing_data

In [ ]:
zürich_xls= pd.ExcelFile(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Abverkauf\Zürich_14.08-19.11.xlsx")
zürich_names= zürich_xls.sheet_names
zürich_listings=[]
for zürich_name in zürich_names:
    zürich_listing= pd.read_excel(zürich_xls, sheet_name= zürich_name, na_values= 'n/a', skiprows= 1)
    zürich_listing.drop(zürich_listing.tail(6).index, inplace= True)
    zürich_listing.drop(zürich_listing.columns[1], axis= 1, inplace= True)
    zürich_listing['Datum']= pd.to_datetime(zürich_name)
    zürich_listings.append(zürich_listing)
zürich_listing_data= pd.concat(zürich_listings)
zürich_listing_data

In [ ]:
df= pd.concat([listing_data, basel_listing_data, lugano_listing_data, zürich_listing_data, sion_listing_data, sanantonino_listing_data, consign_bany_listing_data, consign_neu_listing_data, tagmaa_listing_data], axis=0)
df.tail()

In [ ]:
import pandas as pd
df.rename(columns={'12-Steller':'Produkt'}, inplace= True)
df.info()
df['Produkt']= df['Produkt'].str.title()

In [ ]:
df.to_excel(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\To_excel\Abverkauf_14.08-19.11.xlsx", index= False)