In [28]:
import random
import pandas as pd
random_numbers= []
for i in range(120):
    i= round(random.uniform(20.1, 40.1),1)
    random_numbers.append(i)

In [29]:
import pandas as pd
random_column= pd.DataFrame(random_numbers, columns= ['M/U'])

In [30]:
random_column

      M/U
0    20.9
1    26.9
2    36.0
3    27.9
4    37.6
..    ...
115  27.1
116  31.8
117  25.9
118  20.2
119  36.2

[120 rows x 1 columns]

In [31]:
random_material=[]
for i in range(120):
    i = round(random.uniform(3500.15, 14555.55),2)
    random_material.append(i)

In [32]:
random_material
random_materials=pd.DataFrame(random_material, columns= ['Material'])

In [33]:
random_materials['M/U'] = random_column

In [34]:
random_materials

     Material   M/U
0     6445.65  20.9
1    12798.87  26.9
2    11544.24  36.0
3    13923.48  27.9
4    13925.24  37.6
..        ...   ...
115   3991.44  27.1
116  13675.61  31.8
117   3746.67  25.9
118  12541.06  20.2
119  10810.69  36.2

[120 rows x 2 columns]

In [35]:
random_materials.to_excel(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Mein Ordner\Lernmaterial\Data Science\Dataset\Random_Materialkosten.xlsx", index= False)