In [38]:
import pandas as pd
data= pd.read_excel(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Sushi Daten.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19833 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19833 non-null  object
 1   Datum              19833 non-null  datetime64[ns]
 2   Produkt            19833 non-null  object
 3   Bruttoumsatz       19833 non-null  float64
 4   Nettoumsatz        19833 non-null  float64
 5   Menge              19833 non-null  int64
 6   Abv. Messmenge kg  19833 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.1+ MB

In [39]:
data.groupby(['Produkt']).apply(lambda x: x.sort_values('Produkt'))

                                       Sushi Corner      Datum  \
Produkt
Chirashi Salmon           36     Zürich Langstrasse 2023-01-01
                          12030      Genf Alfortern 2023-01-14
                          12064             Breinau 2023-01-14
                          12144             Savigny 2023-01-14
                          12328       Arreyo Centre 2023-01-14
...                                             ...        ...
Yakitori Chicken Teriyaki 5416           Zergerberg 2023-01-07
                          5529     Zürich Käferberg 2023-01-07
                          5721              Montana 2023-01-07
                          6309          Zotelfingen 2023-01-09
                          19106             Breinau 2023-01-21

                                                   Produkt  Bruttoumsatz  \
Produkt
Chirashi Salmon           36               Chirashi Salmon     13.000000
                          12030            Chirashi Salmon     70.200000
                          12064            Chirashi Salmon     39.000000
                          12144            Chirashi Salmon     26.000000
                          12328            Chirashi Salmon     26.000000
...                                                    ...           ...
Yakitori Chicken Teriyaki 5416   Yakitori Chicken Teriyaki      5.950022
                          5529   Yakitori Chicken Teriyaki     11.900045
                          5721   Yakitori Chicken Teriyaki     23.800090
                          6309   Yakitori Chicken Teriyaki     11.900000
                          19106  Yakitori Chicken Teriyaki     14.250000

                                 Nettoumsatz  Menge  Abv. Messmenge kg
Produkt
Chirashi Salmon           36         12.6829      1              0.282
                          12030      68.4877      6              1.692
                          12064      38.0487      3              0.846
                          12144      25.3658      2              0.564
                          12328      25.3658      2              0.564
...                                      ...    ...                ...
Yakitori Chicken Teriyaki 5416        5.8049      1              0.000
                          5529       11.6098      2              0.000
                          5721       23.2196      4              0.000
                          6309       11.6098      2              0.230
                          19106      13.9023      3              0.345

[19833 rows x 7 columns]

In [40]:
data.sort_values('Produkt').groupby('Produkt').last()

,Sushi Corner,Datum,Bruttoumsatz,Nettoumsatz,Menge,Abv. Messmenge kg
Produkt,,,,,,
Chirashi Salmon,Savigny,2023-01-12,52.00,50.7317,4,1.128
Chirashi Tuna,Grotto Pescatori,2023-01-18,11.20,10.9269,1,0.282
Chu-Maki Stk.,Uri Gotthardstrasse,2023-01-07,176.40,171.9657,63,63.000
Dragon Roll Stk.,Uri Gotthardstrasse,2023-01-09,54.00,52.1177,18,18.000
Erbsen Sriracha 85G,Basel Airport,2023-01-21,5.80,5.6586,2,0.060
...,...,...,...,...,...,...
Sushi Vutoyama,St. Antwil,2023-01-13,9.50,9.2683,1,0.160
Sushi Yatomi,Zürich Stadelhofen,2023-01-03,15.90,15.5122,1,0.100
Sushi Yokohama,Alpero,2023-01-19,87.60,85.4635,5,0.500
Yakitori Bbq Veggie Balls,Breinau,2023-01-20,3.96,3.8634,1,0.120
Yakitori Chicken Teriyaki,Montana,2023-01-05,11.90,11.6098,2,0.230

In [41]:
data['Produkt'].unique()

array(['Sushi Akita', 'Sushi Kyoto', 'Sushi Tama', 'Sushi Handa',
       'Sushi Seto', 'Sushi Katori', 'Sushi Yokohama', 'Sushi Nara',
       'Salad Chicken Quinoa', 'Poke Bowl Yamakake',
       'Salad Smoked Salmon', 'Salad Shrimp Cocktail', 'Salad Sashimi',
       'Sauce Shichimi', 'Sushi Kasai', 'Sushi Kobe', 'Sushi Mutsu',
       'Poke Bowl Crevetten', 'Sushi Yatomi', 'Sushi Chiba',
       'Chirashi Salmon', 'Poke Bowl Zukedon', 'Poke Bowl Spicy Sake',
       'Sauce Teriyaki', 'Sushi Nagoya', 'Sushi Komaki', 'Sushi Fukuyama',
       'Salad Wakame Gomae', 'Ramen Miso Veggie/Tofu',
       'Ramen Miso Veggie/Chicken', 'Spicy Korean Noodles',
       'Yakitori Bbq Veggie Balls', 'Yakitori Chicken Teriyaki',
       'Korea Chick Japchae Noodl', 'Poke Bowl Mix', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Beef Tataki',
       'Sushi Inzai', 'Sushi Sakai', 'Grüntee Oishi  50Cl',
       'Nüsse Wasabi Nori 90G', 'Sushi Koga', 'Sauce Zukedon',
       'Sushi Nigiri Veg Rainbow', 'Indonesian Fr Rice 380G',
       'Seoul Spicy Noodles 380G', 'Samosa Gemuese 170G',
       'Krevetten Tempura 100G', 'Md Asia Menue Gross',
       'Poulet Curry&Nouilles', 'Sushi Kaizu', 'Chirashi Tuna',
       'Sauce Yamakake', 'Sushi Kimitsu', 'Sushi Vutoyama',
       'Poke Bowl Vegetarian', 'Sushi Narita', 'Poke Bowl Bed',
       'Onigirazu Spicy Veggies', 'Salad Edamame', 'Erbsen Sriracha 85G',
       'Nüsse Kokos 90G', 'Sushi Noda', 'Hoso-Maki Stk.', 'Chu-Maki Stk.',
       'Nigiri Stk.', 'Dragon Roll Stk.', 'Md Asia Menue Klein',
       'Md Asia Menue Mittel', 'Malaysian Cr Chicken 380G',
       'Nasi Goreng Fried Rice', 'Sushi Chu-Maki', 'Sushi Nigiri',
       'Sushi Hoso-Maki', 'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [42]:
data['Produkt']= data['Produkt'].replace(['Sushi Akita'], 'Sushi Amita')

In [43]:
data['Produkt']= data['Produkt'].replace(['Sushi Kyoto'], 'Sushi Kayodo')

In [44]:
data['Produkt']= data['Produkt'].replace(['Sushi Tama'], 'Sushi Lama')

In [45]:
data['Produkt']= data['Produkt'].replace(['Sushi Handa'], 'Sushi Sanda')

In [46]:
data['Produkt']= data['Produkt'].replace(['Sushi Seto'], 'Sushi Keto')

In [47]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Katori', 'Sushi Yokohama', 'Sushi Nara',
       'Salad Chicken Quinoa', 'Poke Bowl Yamakake',
       'Salad Smoked Salmon', 'Salad Shrimp Cocktail', 'Salad Sashimi',
       'Sauce Shichimi', 'Sushi Kasai', 'Sushi Kobe', 'Sushi Mutsu',
       'Poke Bowl Crevetten', 'Sushi Yatomi', 'Sushi Chiba',
       'Chirashi Salmon', 'Poke Bowl Zukedon', 'Poke Bowl Spicy Sake',
       'Sauce Teriyaki', 'Sushi Nagoya', 'Sushi Komaki', 'Sushi Fukuyama',
       'Salad Wakame Gomae', 'Ramen Miso Veggie/Tofu',
       'Ramen Miso Veggie/Chicken', 'Spicy Korean Noodles',
       'Yakitori Bbq Veggie Balls', 'Yakitori Chicken Teriyaki',
       'Korea Chick Japchae Noodl', 'Poke Bowl Mix', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Beef Tataki',
       'Sushi Inzai', 'Sushi Sakai', 'Grüntee Oishi  50Cl',
       'Nüsse Wasabi Nori 90G', 'Sushi Koga', 'Sauce Zukedon',
       'Sushi Nigiri Veg Rainbow', 'Indonesian Fr Rice 380G',
       'Seoul Spicy Noodles 380G', 'Samosa Gemuese 170G',
       'Krevetten Tempura 100G', 'Md Asia Menue Gross',
       'Poulet Curry&Nouilles', 'Sushi Kaizu', 'Chirashi Tuna',
       'Sauce Yamakake', 'Sushi Kimitsu', 'Sushi Vutoyama',
       'Poke Bowl Vegetarian', 'Sushi Narita', 'Poke Bowl Bed',
       'Onigirazu Spicy Veggies', 'Salad Edamame', 'Erbsen Sriracha 85G',
       'Nüsse Kokos 90G', 'Sushi Noda', 'Hoso-Maki Stk.', 'Chu-Maki Stk.',
       'Nigiri Stk.', 'Dragon Roll Stk.', 'Md Asia Menue Klein',
       'Md Asia Menue Mittel', 'Malaysian Cr Chicken 380G',
       'Nasi Goreng Fried Rice', 'Sushi Chu-Maki', 'Sushi Nigiri',
       'Sushi Hoso-Maki', 'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [48]:
data['Produkt']= data['Produkt'].replace(['Sushi Katori'], 'Sushi Betari')

In [49]:
data['Produkt']= data['Produkt'].replace(['Sushi Yokohama'], 'Sushi Yakekama')

In [50]:
data['Produkt']= data['Produkt'].replace(['Sushi Nara'], 'Sushi Tara')

In [51]:
data['Produkt']= data['Produkt'].replace(['Salad Chicken Quinoa'], 'Salad Asian Chicken')

In [52]:
data['Produkt']= data['Produkt'].replace(['Poke Bowl Yamakake'], 'Poke Bowl Sesamtofu')

In [53]:
data['Produkt']= data['Produkt'].replace(['Salad Smoked Salmon'], 'Salad Avocado Salmon')

In [54]:
data['Produkt']= data['Produkt'].replace(['Salad Shrimp Cocktail'], 'Salad Summer Shrimp')

In [55]:
data['Produkt']= data['Produkt'].replace(['Salad Sashimi'], 'Salad Sashimi Orange')

In [56]:
data['Produkt']= data['Produkt'].replace(['Sauce Shichimi'], 'Sauce Unagi')

In [57]:
data['Produkt']= data['Produkt'].replace(['Sushi Kasai'], 'Sushi Gasai')

In [58]:
data['Produkt']= data['Produkt'].replace(['Sushi Kobe'], 'Sushi Kode')

In [59]:
data['Produkt']= data['Produkt'].replace(['Sushi Mutsu'], 'Sushi Usutmu')

In [60]:
data['Produkt']= data['Produkt'].replace(['Poke Bowl Crevetten'], 'Poke Bowl Shrimp Mango')

In [61]:
data['Produkt']= data['Produkt'].replace(['Sushi Yatomi'], 'Sushi Potema')

In [62]:
data['Produkt']= data['Produkt'].replace(['Sushi Chiba'], 'Sushi Kaiba')

In [63]:
data['Produkt']= data['Produkt'].replace(['Poke Bowl Zukedon'], 'Poke Bowl Mix')

In [64]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl Spicy Sake', 'Sauce Teriyaki', 'Sushi Nagoya',
       'Sushi Komaki', 'Sushi Fukuyama', 'Salad Wakame Gomae',
       'Ramen Miso Veggie/Tofu', 'Ramen Miso Veggie/Chicken',
       'Spicy Korean Noodles', 'Yakitori Bbq Veggie Balls',
       'Yakitori Chicken Teriyaki', 'Korea Chick Japchae Noodl',
       'Poke Bowl Salmon', 'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna',
       'Salad Beef Tataki', 'Sushi Inzai', 'Sushi Sakai',
       'Grüntee Oishi  50Cl', 'Nüsse Wasabi Nori 90G', 'Sushi Koga',
       'Sauce Zukedon', 'Sushi Nigiri Veg Rainbow',
       'Indonesian Fr Rice 380G', 'Seoul Spicy Noodles 380G',
       'Samosa Gemuese 170G', 'Krevetten Tempura 100G',
       'Md Asia Menue Gross', 'Poulet Curry&Nouilles', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Onigirazu Spicy Veggies', 'Salad Edamame',
       'Erbsen Sriracha 85G', 'Nüsse Kokos 90G', 'Sushi Noda',
       'Hoso-Maki Stk.', 'Chu-Maki Stk.', 'Nigiri Stk.',
       'Dragon Roll Stk.', 'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki', 'Sushi Nigiri', 'Sushi Hoso-Maki',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [65]:
data['Produkt']= data['Produkt'].replace(['Poke Bowl Spicy Sake'], 'Poke Bowl SalmonTeriyaki ')

In [66]:
data['Produkt']= data['Produkt'].replace(['Sauce Teriyaki'], 'Poke Bowl Tonkatsu')

In [67]:
data['Produkt']= data['Produkt'].replace(['Sushi Nagoya'], 'Sushi Yagona')

In [68]:
data['Produkt']= data['Produkt'].replace(['Sushi Komaki'], 'Sushi Makiko')

In [69]:
data['Produkt']= data['Produkt'].replace(['Sushi Fukuyama'], 'Sushi Yamakufu')

In [70]:
data.drop(data[data['Produkt']=='Hoso-Maki Stk.'].index, inplace= True)

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19798 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19798 non-null  object
 1   Datum              19798 non-null  datetime64[ns]
 2   Produkt            19798 non-null  object
 3   Bruttoumsatz       19798 non-null  float64
 4   Nettoumsatz        19798 non-null  float64
 5   Menge              19798 non-null  int64
 6   Abv. Messmenge kg  19798 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [72]:
data.drop(data[data['Produkt']=='Chu-Maki Stk.'].index, inplace= True)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19762 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19762 non-null  object
 1   Datum              19762 non-null  datetime64[ns]
 2   Produkt            19762 non-null  object
 3   Bruttoumsatz       19762 non-null  float64
 4   Nettoumsatz        19762 non-null  float64
 5   Menge              19762 non-null  int64
 6   Abv. Messmenge kg  19762 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [74]:
data.drop(data[data['Produkt']=='Nigiri Stk.'].index, inplace= True)

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19726 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19726 non-null  object
 1   Datum              19726 non-null  datetime64[ns]
 2   Produkt            19726 non-null  object
 3   Bruttoumsatz       19726 non-null  float64
 4   Nettoumsatz        19726 non-null  float64
 5   Menge              19726 non-null  int64
 6   Abv. Messmenge kg  19726 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [76]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame Gomae',
       'Ramen Miso Veggie/Tofu', 'Ramen Miso Veggie/Chicken',
       'Spicy Korean Noodles', 'Yakitori Bbq Veggie Balls',
       'Yakitori Chicken Teriyaki', 'Korea Chick Japchae Noodl',
       'Poke Bowl Salmon', 'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna',
       'Salad Beef Tataki', 'Sushi Inzai', 'Sushi Sakai',
       'Grüntee Oishi  50Cl', 'Nüsse Wasabi Nori 90G', 'Sushi Koga',
       'Sauce Zukedon', 'Sushi Nigiri Veg Rainbow',
       'Indonesian Fr Rice 380G', 'Seoul Spicy Noodles 380G',
       'Samosa Gemuese 170G', 'Krevetten Tempura 100G',
       'Md Asia Menue Gross', 'Poulet Curry&Nouilles', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Onigirazu Spicy Veggies', 'Salad Edamame',
       'Erbsen Sriracha 85G', 'Nüsse Kokos 90G', 'Sushi Noda',
       'Dragon Roll Stk.', 'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki', 'Sushi Nigiri', 'Sushi Hoso-Maki',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19726 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19726 non-null  object
 1   Datum              19726 non-null  datetime64[ns]
 2   Produkt            19726 non-null  object
 3   Bruttoumsatz       19726 non-null  float64
 4   Nettoumsatz        19726 non-null  float64
 5   Menge              19726 non-null  int64
 6   Abv. Messmenge kg  19726 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [78]:
data.drop(data[(data['Produkt']=='Sushi Chu-Maki') & (data['Produkt']=='Sushi Nigiri') & (data['Produkt']=='Sushi Hoso-Maki')].index, inplace= True)

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19726 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19726 non-null  object
 1   Datum              19726 non-null  datetime64[ns]
 2   Produkt            19726 non-null  object
 3   Bruttoumsatz       19726 non-null  float64
 4   Nettoumsatz        19726 non-null  float64
 5   Menge              19726 non-null  int64
 6   Abv. Messmenge kg  19726 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [80]:
data.drop(data[data['Produkt']=='Sushi Chu-Maki'].index, inplace= True)

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19705 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19705 non-null  object
 1   Datum              19705 non-null  datetime64[ns]
 2   Produkt            19705 non-null  object
 3   Bruttoumsatz       19705 non-null  float64
 4   Nettoumsatz        19705 non-null  float64
 5   Menge              19705 non-null  int64
 6   Abv. Messmenge kg  19705 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [82]:
data= data.loc[(data['Produkt']!= 'Sushi Nigiri') & (data['Produkt']!='Sushi Hoso-Maki')]

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19638 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19638 non-null  object
 1   Datum              19638 non-null  datetime64[ns]
 2   Produkt            19638 non-null  object
 3   Bruttoumsatz       19638 non-null  float64
 4   Nettoumsatz        19638 non-null  float64
 5   Menge              19638 non-null  int64
 6   Abv. Messmenge kg  19638 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [84]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame Gomae',
       'Ramen Miso Veggie/Tofu', 'Ramen Miso Veggie/Chicken',
       'Spicy Korean Noodles', 'Yakitori Bbq Veggie Balls',
       'Yakitori Chicken Teriyaki', 'Korea Chick Japchae Noodl',
       'Poke Bowl Salmon', 'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna',
       'Salad Beef Tataki', 'Sushi Inzai', 'Sushi Sakai',
       'Grüntee Oishi  50Cl', 'Nüsse Wasabi Nori 90G', 'Sushi Koga',
       'Sauce Zukedon', 'Sushi Nigiri Veg Rainbow',
       'Indonesian Fr Rice 380G', 'Seoul Spicy Noodles 380G',
       'Samosa Gemuese 170G', 'Krevetten Tempura 100G',
       'Md Asia Menue Gross', 'Poulet Curry&Nouilles', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Onigirazu Spicy Veggies', 'Salad Edamame',
       'Erbsen Sriracha 85G', 'Nüsse Kokos 90G', 'Sushi Noda',
       'Dragon Roll Stk.', 'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [85]:
data['Produkt']= data['Produkt'].replace('Salad Wakame Gomae', 'Salad Wakame')

In [86]:
data['Produkt']= data['Produkt'].replace('Ramen Miso Veggie/Tofu', 'Miso Soup Tofu')

In [87]:
data['Produkt']= data['Produkt'].replace('Ramen Miso Veggie/Chicken', 'Miso Soup Chicken')

In [88]:
data['Produkt']= data['Produkt'].replace('Spicy Korean Noodles', 'Fried Chicken Noodle')

In [89]:
data['Produkt']= data['Produkt'].replace('Spicy Korean Noodles', 'Fried Chicken Noodle')

In [90]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle',
       'Yakitori Bbq Veggie Balls', 'Yakitori Chicken Teriyaki',
       'Korea Chick Japchae Noodl', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Beef Tataki',
       'Sushi Inzai', 'Sushi Sakai', 'Grüntee Oishi  50Cl',
       'Nüsse Wasabi Nori 90G', 'Sushi Koga', 'Sauce Zukedon',
       'Sushi Nigiri Veg Rainbow', 'Indonesian Fr Rice 380G',
       'Seoul Spicy Noodles 380G', 'Samosa Gemuese 170G',
       'Krevetten Tempura 100G', 'Md Asia Menue Gross',
       'Poulet Curry&Nouilles', 'Sushi Kaizu', 'Chirashi Tuna',
       'Sauce Yamakake', 'Sushi Kimitsu', 'Sushi Vutoyama',
       'Poke Bowl Vegetarian', 'Sushi Narita', 'Poke Bowl Bed',
       'Onigirazu Spicy Veggies', 'Salad Edamame', 'Erbsen Sriracha 85G',
       'Nüsse Kokos 90G', 'Sushi Noda', 'Dragon Roll Stk.',
       'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [91]:
data=data.replace({'Produkt':{'Yakitori Bbq Veggie Balls':'Vegie Balls', 'Yakitori Chicken Teriyaki': 'Chicken Balls', 'Korea Chick Japchae Noodl':'Korean Chicken Noodle'}})

In [92]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Beef Tataki',
       'Sushi Inzai', 'Sushi Sakai', 'Grüntee Oishi  50Cl',
       'Nüsse Wasabi Nori 90G', 'Sushi Koga', 'Sauce Zukedon',
       'Sushi Nigiri Veg Rainbow', 'Indonesian Fr Rice 380G',
       'Seoul Spicy Noodles 380G', 'Samosa Gemuese 170G',
       'Krevetten Tempura 100G', 'Md Asia Menue Gross',
       'Poulet Curry&Nouilles', 'Sushi Kaizu', 'Chirashi Tuna',
       'Sauce Yamakake', 'Sushi Kimitsu', 'Sushi Vutoyama',
       'Poke Bowl Vegetarian', 'Sushi Narita', 'Poke Bowl Bed',
       'Onigirazu Spicy Veggies', 'Salad Edamame', 'Erbsen Sriracha 85G',
       'Nüsse Kokos 90G', 'Sushi Noda', 'Dragon Roll Stk.',
       'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [93]:
data= data.replace({'Produkt':{'Salad Beef Tataki': 'Salad Thai Beef','Sushi Inzai':'Sushi Zashi','Sushi Sakai': 'Sushi Kasai','Grüntee Oishi  50Cl':'Oishi Green Tea','Nüsse Wasabi Nori 90G':'Wasabi Nuts'}})

In [94]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Koga', 'Sauce Zukedon', 'Sushi Nigiri Veg Rainbow',
       'Indonesian Fr Rice 380G', 'Seoul Spicy Noodles 380G',
       'Samosa Gemuese 170G', 'Krevetten Tempura 100G',
       'Md Asia Menue Gross', 'Poulet Curry&Nouilles', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Onigirazu Spicy Veggies', 'Salad Edamame',
       'Erbsen Sriracha 85G', 'Nüsse Kokos 90G', 'Sushi Noda',
       'Dragon Roll Stk.', 'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [95]:
data= data.replace({'Produkt': {'Sushi Koga':'Sushi Goka','Sauce Zukedon':'Sauce Ponzu','Sushi Nigiri Veg Rainbow':'Sushi Veggie'}})

In [96]:
data= data.loc[(data['Produkt']!='Indonesian Fr Rice 380G')&(data['Produkt']!='Seoul Spicy Noodles 380G') &(data['Produkt']!='Samosa Gemuese 170G')]

In [97]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Goka', 'Sauce Ponzu', 'Sushi Veggie',
       'Krevetten Tempura 100G', 'Md Asia Menue Gross',
       'Poulet Curry&Nouilles', 'Sushi Kaizu', 'Chirashi Tuna',
       'Sauce Yamakake', 'Sushi Kimitsu', 'Sushi Vutoyama',
       'Poke Bowl Vegetarian', 'Sushi Narita', 'Poke Bowl Bed',
       'Onigirazu Spicy Veggies', 'Salad Edamame', 'Erbsen Sriracha 85G',
       'Nüsse Kokos 90G', 'Sushi Noda', 'Dragon Roll Stk.',
       'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [293]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19613 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19613 non-null  object
 1   Datum              19613 non-null  datetime64[ns]
 2   Produkt            19613 non-null  object
 3   Bruttoumsatz       19613 non-null  float64
 4   Nettoumsatz        19613 non-null  float64
 5   Menge              19613 non-null  int64
 6   Abv. Messmenge kg  19613 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [294]:
data= data.loc[(data['Produkt']!='Krevetten Tempura 100G')&(data['Produkt']!='Md Asia Menue Gross')&(data['Produkt']!='Poulet Curry&Nouilles')]

In [295]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Goka', 'Sauce Ponzu', 'Sushi Veggie', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Onigirazu Spicy Veggies', 'Salad Edamame',
       'Erbsen Sriracha 85G', 'Nüsse Kokos 90G', 'Sushi Noda',
       'Dragon Roll Stk.', 'Md Asia Menue Klein', 'Md Asia Menue Mittel',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Chu-Maki Tatar', 'Sushi Platte Asakura',
       'Sushi Platte Kamakura', 'Salmtartare Spicyteriyaki',
       'Salmon Tartare Yuzu', 'Fruehlingsrol Poulet 180G',
       'Sushi Platte Niji', 'Sushi Platte Fuyu',
       'Fruehlingsrol Gemues 180G', 'Sushi Platte Shogatsu',
       'Sushi Platte Takayama', 'Olong Tee O.Z. 50Cl'], dtype=object)

In [298]:
data= data.loc[(data['Produkt']!='Onigirazu Spicy Veggies') & (data['Produkt']!='Erbsen Sriracha 85G') & (data['Produkt']!='Md Asia Menue Klein')& (data['Produkt']!='Md Asia Menue Mittel')&(data['Produkt']!='Dragon Roll Stk.')&(data['Produkt']!='Sushi Chu-Maki Tatar')]

In [299]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19163 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19163 non-null  object
 1   Datum              19163 non-null  datetime64[ns]
 2   Produkt            19163 non-null  object
 3   Bruttoumsatz       19163 non-null  float64
 4   Nettoumsatz        19163 non-null  float64
 5   Menge              19163 non-null  int64
 6   Abv. Messmenge kg  19163 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [300]:
data= data.replace({'Produkt':{'Nüsse Kokos 90G':'Coconut Nuts','Sushi Noda':'Sushi Hoda','Olong Tee O.Z. 50Cl':'Olong Tee'}})

In [301]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Goka', 'Sauce Ponzu', 'Sushi Veggie', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Salad Edamame', 'Coconut Nuts', 'Sushi Hoda',
       'Malaysian Cr Chicken 380G', 'Nasi Goreng Fried Rice',
       'Sushi Platte Asakura', 'Sushi Platte Kamakura',
       'Salmtartare Spicyteriyaki', 'Salmon Tartare Yuzu',
       'Fruehlingsrol Poulet 180G', 'Sushi Platte Niji',
       'Sushi Platte Fuyu', 'Fruehlingsrol Gemues 180G',
       'Sushi Platte Shogatsu', 'Sushi Platte Takayama', 'Olong Tee'],
      dtype=object)

In [302]:
data= data.loc[(data['Produkt']!='Malaysian Cr Chicken 380G')& (data['Produkt']!= 'Nasi Goreng Fried Rice') & (data['Produkt']!='Sushi Platte Asakura') & (data['Produkt']!= 'Sushi Platte Kamakura') & (data['Produkt']!='Sushi Platte Niji')& (data['Produkt']!='Sushi Platte Fuyu') & (data['Produkt']!='Sushi Platte Shogatsu')& (data['Produkt']!='Sushi Platte Takayama')]

In [303]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19068 entries, 0 to 19832
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sushi Corner       19068 non-null  object
 1   Datum              19068 non-null  datetime64[ns]
 2   Produkt            19068 non-null  object
 3   Bruttoumsatz       19068 non-null  float64
 4   Nettoumsatz        19068 non-null  float64
 5   Menge              19068 non-null  int64
 6   Abv. Messmenge kg  19068 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [304]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Goka', 'Sauce Ponzu', 'Sushi Veggie', 'Sushi Kaizu',
       'Chirashi Tuna', 'Sauce Yamakake', 'Sushi Kimitsu',
       'Sushi Vutoyama', 'Poke Bowl Vegetarian', 'Sushi Narita',
       'Poke Bowl Bed', 'Salad Edamame', 'Coconut Nuts', 'Sushi Hoda',
       'Salmtartare Spicyteriyaki', 'Salmon Tartare Yuzu',
       'Fruehlingsrol Poulet 180G', 'Fruehlingsrol Gemues 180G',
       'Olong Tee'], dtype=object)

In [305]:
data= data.replace({'Produkt':{'Sushi Kaizu':'Sushi Maisu','Sauce Yamakake':'Sauce Goma Dare','Sushi Kimitsu':'Sushi Mitsuma','Sushi Vutoyama':'Sushi Tomaya','Sushi Narita':'Sushi Atira','Poke Bowl Bed':'Poke Bowl Vegan Ananas','Fruehlingsrol Poulet 180G':'Spring Rolls Chicken','Fruehlingsrol Gemues 180G':'Spring Rolls Vegie'}})

In [306]:
data['Produkt'].unique()

array(['Sushi Amita', 'Sushi Kayodo', 'Sushi Lama', 'Sushi Sanda',
       'Sushi Keto', 'Sushi Betari', 'Sushi Yakekama', 'Sushi Tara',
       'Salad Asian Chicken', 'Poke Bowl Sesamtofu',
       'Salad Avocado Salmon', 'Salad Summer Shrimp',
       'Salad Sashimi Orange', 'Sauce Unagi', 'Sushi Gasai', 'Sushi Kode',
       'Sushi Usutmu', 'Poke Bowl Shrimp Mango', 'Sushi Potema',
       'Sushi Kaiba', 'Chirashi Salmon', 'Poke Bowl Mix',
       'Poke Bowl SalmonTeriyaki ', 'Poke Bowl Tonkatsu', 'Sushi Yagona',
       'Sushi Makiko', 'Sushi Yamakufu', 'Salad Wakame', 'Miso Soup Tofu',
       'Miso Soup Chicken', 'Fried Chicken Noodle', 'Vegie Balls',
       'Chicken Balls', 'Korean Chicken Noodle', 'Poke Bowl Salmon',
       'Poke Bowl Smoked Salmon', 'Poke Bowl Tuna', 'Salad Thai Beef',
       'Sushi Zashi', 'Sushi Kasai', 'Oishi Green Tea', 'Wasabi Nuts',
       'Sushi Goka', 'Sauce Ponzu', 'Sushi Veggie', 'Sushi Maisu',
       'Chirashi Tuna', 'Sauce Goma Dare', 'Sushi Mitsuma',
       'Sushi Tomaya', 'Poke Bowl Vegetarian', 'Sushi Atira',
       'Poke Bowl Vegan Ananas', 'Salad Edamame', 'Coconut Nuts',
       'Sushi Hoda', 'Salmtartare Spicyteriyaki', 'Salmon Tartare Yuzu',
       'Spring Rolls Chicken', 'Spring Rolls Vegie', 'Olong Tee'],
      dtype=object)

In [316]:
data['Datum']= data['Datum'] + pd.DateOffset(months= 4)

In [318]:
data['Datum']

0       2023-07-01
1       2023-07-01
2       2023-07-01
3       2023-07-01
4       2023-07-01
           ...
19827   2023-07-22
19828   2023-07-22
19829   2023-07-22
19831   2023-07-22
19832   2023-07-22
Name: Datum, Length: 19068, dtype: datetime64[ns]

In [319]:
data.head()

,Sushi Corner,Datum,Produkt,Bruttoumsatz,Nettoumsatz,Menge,Abv. Messmenge kg
0,Zürich Stadelhofen,2023-07-01,Sushi Amita,54.75,53.4146,5,1.475
1,Zürich Stadelhofen,2023-07-01,Sushi Kayodo,49.50,48.2926,5,0.865
2,Zürich Stadelhofen,2023-07-01,Sushi Lama,59.70,58.2438,3,1.080
3,Zürich Stadelhofen,2023-07-01,Sushi Sanda,13.90,13.5610,1,0.195
4,Zürich Stadelhofen,2023-07-01,Sushi Keto,55.60,54.2440,4,0.780

In [320]:
data.to_excel(r"C:\Users\trinh.ngo\OneDrive - Terasys-Network\Dokumente\Sushi Mania\Verkauf Bericht Power BI\Sushi Data_Output.xlsx", index= False)